scipy
scikit-learn
pandas
matplotlib
seaborn
joblib
torch
torchvision
torchaudio
tensorflow
keras
jax
flax
transformers
spacy
nltk
sentence-transformers
textblob
gensim
datasets
evaluate
fuzzywuzzy
wordcloud
opencv-python
pillow
albumentations
scikit-image
imageio
sentencepiece
tiktoken
bitsandbytes
accelerate
xformers
torchaudio
librosa
speechbrain
tensorrt
gradio
streamlit
tqdm
faiss-cpu
h5py
statsmodels
beautifulsoup4
lightgbm
requests
simplejson
sqlalchemy
scrapy
arrow
wxpython
twisted
nose
scapy
ipython
sympy
pyqt
eli5
pyglet
peewee
mxnet
jupyter
